html,body{
    margin: 0;
    background: #072551;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Georgia", serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 3% 3% 0;
	background: rgba(192, 139, 139, 0.442);
	line-height: 1.8;
}
h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: rgb(83, 104, 138);
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}
a {
	color: rgb(184, 126, 84);
}
a:hover {
	color: rgb(120, 97, 55);
}
pre {
	font-size: 1.4em;
	color: rgb(192, 139, 139);
	padding: .5em 1em;
	border-left: 1em solid #A68048;
	background: #666;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 80%;
}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
dt {
	font-style: italic;
	font-size:1.2em;
}
dd {
	margin-bottom: 1.4em;
}
table {
	margin-top: 1em;
}
caption {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: left;
}
td, th {
	padding: 10px;
}
.center {
	text-align: center;
}
header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}
aside {
	padding: 1em;
	background:rgb(83, 104, 138);
	color: white;
	margin-bottom: 1em;
}
aside h4 {
	color: white;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
blockquote {
	font-style: italic;
}
.flowRight {
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}
tfoot {
  background-color: #2c5e77;
  color: white;
}

tbody {
  background-color: rgb(185, 164, 164);
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td {
  text-align: center;
}
hgroup {
  padding-left: 16px;
  border-left: 10px solid #000000c7;
}

hgroup h1 {
  margin-bottom: 0;
}

hgroup p {
  margin: 0;
  font-weight: bold;
}